// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page{
	padding-top:1px;
}

.reply{
	margin-top:20px !important;
}

.comment-reply{
	
	display:none;
}

.toggle-reply{
	
	margin-bottom:10px;
}











